body{
    /* padding: 30px; */
    line-height: 1.4em;
    font-size:  large;
    /* background-color: #77787F; */
    background-color: #E5E5E5;
}

.centerX{
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: blue;
}

.navbar>.container{
    background-color: blue;
}

.spacer{
    padding: 20px;
}

#business-carousel{
    background-color: #E5E5E5;
    border: 5px solid black;
    
}

.carousel-container{
    border: 5px solid black;
    border: 6px;
}


.p-2{
    margin-top: -20px;
}


.search-bn{
    padding: 4px;
    border-radius: 5px;
    font-size: medium;
}

.p-long{
    width: 90%;
}

.p-header-link{
    font-size: x-large;
    color: blue;
}

.p-header-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.img-fluid{
    border: 2px solid black;
}

.bsn-link-1{
    /* background-color: #E5E5E5; */
    /* padding: 5px; */
    /* margin-top: 5px; */
    margin-bottom: 10px;
    /* border: 1px solid black; */
    font-size: medium;
    font-weight: bold;
    color: blue;
    line-height: normal;
    border-radius: 5px;
    height: 50px;
    /* width: 80%; */
    /* width: 400px; */
    display: flex;
    align-items: start;
    justify-content: start;
}

.bsn-link-1:hover{
    transform: scale(1.01);
    text-decoration: underline;
    cursor: pointer;
}

.container{
    /* border: 2px solid black; */
    border-radius: 10px;
    /* padding: 80px; */
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 5px;
    width: ;
}

.contain{
    padding-left: 100px;
    padding-right: 100px;
}

.p-resources-text{
    width: 50%;
    min-width: 250px;
}

.misc-filings{
    margin-top: -15px;
}

.misc-filings li{
    font-size: medium;
}

.misc-filings li:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.inline-link-1{
    color: blue;
}

.inline-link-1:hover{
    text-decoration: underline;
    cursor: pointer;
}

.contact-h1{
    font-weight: 650;
}

.centerX-2{
    display: flex;
    /* justify-content: space-evenly; */
}

.img-box:hover{
    transform: scale(1.01);
    text-decoration: underline;
    color:blue;
    cursor: pointer;
}

.disc li{
    font-size: small;
}


@media (max-width: 1000px){
    .biz-links{
        padding-left: 10%;
    }
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}



/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
  transform: translateX(0);
}


.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
    filter: invert(100%);
    font-weight: bold;
}

.img-item{
    margin-left: 5px;
    margin-right: 5px;
}

.img-item:hover{
    transform: scale(1.01);
}

.carousel-inner{
    display: flex;
    /* justify-content: center; */
}

.dropdown-menu-right {
    padding-left: 10px;
}

.contact-sec{
    display: flex;
   flex-direction: column;

   
}
@media (min-width: 900px){
    .contact-sec{
        flex-direction: row;
    }
    
 }
